.main {
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
  color: #f56c6c;
  font-size: 40px;
  .back {
    cursor: pointer;
  }
}

.center {
  flex: 1;
  display: flex;
}

.center-left {
  width: 200px;
  margin-right: 30px;
}

.center-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.question {
  flex: 1;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8);
  .question-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    .number {
      display: inline-block;
      text-align: center;
      min-width: 100px;
      font-size: 48px;
      font-weight: bold;
    }
  }
  .content {
    font-size: 24px;
    text-indent: 48px;
  }
  .options {
    margin-top: 10px;
    .option-index {
      margin-right: 8px;
    }
  }

  .answer {
    margin-top: 40px;
  }
}

.select {
  padding: 40px 0;
  display: flex;
  .button-wrap {
    flex: 1;
  }
}

.el-button {
  font-size: 30px;
  height: 60px;
  line-height: 60px;
}
